In [24]:
#Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:
#To create the above dataframe:

#The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood


import pandas as pd
import requests
from bs4 import BeautifulSoup
from tabulate import tabulate

res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))

In [20]:
#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [25]:
data_frame.drop(data_frame[data_frame['Borough']=="Not assigned"].index,axis=0, inplace=True)

In [22]:
#check 5 first rows

In [26]:
data_frame.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [ ]:
#More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, 
#you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. 
#These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [28]:
data_frame=data_frame.groupby("Postcode").agg(lambda x:','.join(set(x)))

In [ ]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page,
#the value of the Borough and the Neighborhood columns will be Queen's Park.

In [31]:
data_frame.loc[data_frame['Neighbourhood']=="Not assigned",'Neighbourhood']=data_frame.loc[data_frame['Neighbourhood']=="Not assigned",'Borough']

In [ ]:
#using the .shape method to print the number of rows of your dataframe.

In [33]:
data_frame.shape

(103, 2)

In [34]:
data_frame.head()

              Borough                         Neighbourhood
Postcode
M1B       Scarborough                         Rouge,Malvern
M1C       Scarborough  Port Union,Rouge Hill,Highland Creek
M1E       Scarborough       Morningside,Guildwood,West Hill
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae